<%
var templateData = (typeof templateData != 'undefined') ? templateData : { };
%>

<fieldset>
  <legend><%= (templateData.module).toUpperCase()%></legend>
  <p><%= templateData.label%></p>

<% 
let options = templateData.options || {};
options.forEach((option, index)=>{
  let impCheck = (character.class && character[character.class].advancedImprovements[index])? "checked" : "";

%> 
    <%#- JSON.stringify(templateData.objectData) %>
  <label><input type="<%=templateData.type%>" name="<%=templateData.className%>[<%=templateData.module%>][<%=index%>]" value="<%=index%>"<%=impCheck%>><%=option%></label><br>

<% 
})
%>
<%# include checkboxes.ejs %>

</fieldset>