<%
var templateData = (typeof templateData != 'undefined') ? templateData : { };
%>

<fieldset>
  <legend><%= (templateData.module).toUpperCase()%></legend>
  <p><%= templateData.label%></p>

<% 
let options = templateData.options || {};
options.forEach((option, index)=>{
%> 
    <% var checked = ( templateData.objectData ? ' CHECKED="checked"': ''); %>
    <%#- JSON.stringify(templateData.objectData) %>
  <label><input type="<%=templateData.type%>" name="<%=templateData.className%>[<%=templateData.module%>][<%=option%>]" value="true"<%=checked%>><%=option%></label><br>

<% 
})
%>
<%# include checkboxes.ejs %>

</fieldset>