<%
var templateData = (typeof templateData != 'undefined') ? templateData : { };
%>

<div class="col-md-6">
  <fieldset>
    <legend><%= (templateData.module).toUpperCase()%></legend>
    <p><%= templateData.label%></p>

  <% 
  let options = templateData.options || {};
  options.forEach((option, index)=>{
    let impCheck = (character.class && character[character.class].advancedImprovements[index])? "checked" : "";

  %> 
      <%#- JSON.stringify(templateData.objectData) %>
    <div class="form-check">
      <label clas="form-check-label">
        <input type="<%=templateData.type%>" class="form-check-input" name="<%=templateData.className%>[<%=templateData.module%>][<%=index%>]" value="<%=index%>"<%=impCheck%>>
        <%=option%>
      </label>
    </div>

  <% 
  })
  %>
  <%# include checkboxes.ejs %>

  </fieldset>
</div>