<%
var templateData = (typeof templateData != 'undefined') ? templateData : { };
let clSpec = (character.class && character[character.class].classSpecific)? character[character.class].classSpecific  : {}
%>

<fieldset>
<legend><%= templateData.label.toUpperCase() %></legend>
<p><%= templateData.description%></p>

<%

let options = templateData.options || {};
if(typeof options[0] === "object" ){
  options.forEach(optionObj => {
%>
    <fieldset>
      <legend><%=optionObj.name%></legend>
<%
    optionObj.options.forEach((option,index)=>{
      let charCheck = (character.class && clSpec[optionObj.name] && clSpec[optionObj.name][index])? "checked" : ""
%>    
      <label><input type="<%=optionObj.type%>" name="<%=templateData.className%>[<%=templateData.module%>][<%=optionObj.name%>][<%=index%>]" value="<%=index%>" <%=charCheck%> ><%=option%></label><br>
<% 
    })
%>
    </fieldset>
<%
  })
} else if(templateData.type === "checkbox") {
    options.forEach((option, index)=>{
      let charCheck = (character.class && clSpec[templateData.label] &&clSpec[templateData.label][index])? "checked" : "";
%> 
      <label><input type="<%=templateData.type%>" name="<%=templateData.className%>[<%=templateData.module%>][<%=templateData.label%>][<%=index%>]" value="<%=index%>" <%=charCheck%> ><%=option%></label><br>
<% 
  })
} else {
    options.forEach((option, index)=> {
      let charCheck = (character.class && clSpec[templateData.label] &&clSpec[templateData.label] === option)? "checked" : "";
%>
      <label><input type="<%=templateData.type%>" name="<%=templateData.className%>[<%=templateData.module%>][<%=templateData.label%>]" value="<%=option%>" <%=charCheck%> ><%=option%></label><br>
<%    
  })
}
%>
<%# include checkboxes.ejs %>

</fieldset>