<%
var templateData = (typeof templateData != 'undefined') ? templateData : { };
%>

<fieldset>
  <legend><%= (templateData.module).toUpperCase()%></legend>
  <p><%= templateData.label%></p>

<% 
let options = templateData.options || {};
options.forEach((option, index)=>{
  let histCheck = (character.class && character[character.class].history[index])? "checked" : "";
  let histName = (character.class && character[character.class].history[index])? character[character.class].history[index] : ""
%> 

  <label>
    <input type="<%=templateData.type%>" name="<%=templateData.className%>[<%=templateData.module%>][<%=index%>]" value="<%=index%>" <%=histCheck%> >
    <input type="text" name="<%=templateData.className%>[<%=templateData.module%>][<%=index%>]" value="<%=histName%>">
    <%=option%>
  </label><br>

<% 
})
%>
<%# include checkboxes.ejs %>

</fieldset>