<%
var templateData = (typeof templateData != 'undefined') ? templateData : { };
console.log("in look, templateData:", templateData);
%>

<fieldset>
  <legend><%= (templateData.module).toUpperCase()%></legend>
  <p><%= templateData.label%></p>

<% 
let options = templateData.options || {};
Object.keys(options).forEach(key=>{
  let subQuestion = options[key];
  let charKey = (character.class)? character[character.class].look[key] : ""
%> 

  <fieldset>
    <legend><%= key %></legend>

<%
  subQuestion.options.forEach((option, index) => {
    let lookChecked = (charKey === option)? "checked" : "";
%>

    <label>
      <input type="<%=subQuestion._type%>" name="<%=templateData.className%>[<%=templateData.module%>][<%= key %>]" value="<%=option%>" <%=lookChecked%>>
      <%=option%>
    </label><br>
<%
  }) 
%></fieldset><%
})
%>

</fieldset>