<%
var templateData = (typeof templateData != 'undefined') ? templateData : { };
%>

<fieldset>
  <legend><%= templateData.module.toUpperCase() %></legend>
  <p><%= templateData.label %></p>
<% 
let options = templateData.options || {};
options.forEach((option, index)=>{
  let moveChecked = (character.class && character[character.class].moves[index])? "checked" : "";

%> 
  <label>
    <input type="<%=templateData.type%>" name="<%=templateData.className%>[<%=templateData.module%>][<%=index%>]" value="<%=index%>" <%=moveChecked%> >
    <dt><%=option.name%></dt>
    <dd><%=option.description%></dd>
  </label><br>

<% 
})
%>
<%# include checkboxes.ejs %>

</fieldset>