<%
var templateData = (typeof templateData != 'undefined') ? templateData : { };
%>

<fieldset>
  <legend><%= templateData.module.toUpperCase() %></legend>
  <p><%= templateData.label %></p>

<% 
let options = templateData.options || {};
options.forEach((option, index)=>{
  let joinedOpts = option.join(", ");
%>
 
  <label><input type="<%=templateData.type%>" name="<%=templateData.className%>[<%=templateData.module%>]" value="<%=index%>"><%=joinedOpts%></label><br>

<% 
})
%>
<%# include checkboxes.ejs %>

</fieldset>