<!DOCTYPE html>
<html lang="en">
<head>
  <title>MoW Hunter Maker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Create a Character for the roleplaying game Monster of the Week">
  <meta name="keywords" content="Monster of the Week, MoW, Monster, RPG, Apocolypse World">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/jquery.serializejson.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="../main.css">
</head>

<body>
  <header>
    <h1>Hunters of the Week</h1>
  </header>

<%  let charClass = character[character.class];
%>

  <main>
    <h2>Hunter Page</h2>

    <nav>
      <a href="../user/<%=character.creator.id%>"><%=character.creator.userName%></a>
    </nav>

    <div id="character-box">
      <header>
        <image src="<%=character.image%>" alt="<%=character.name%>"></image>
        <h3><%=character.name%></h3>
        <h4><%=character.class%></h4>
      </header>

      <div>
        <h4>Ratings</h4>
        <dl>
<%        let ratingsArray = data[character.class].ratings.options[charClass.ratings]
          ratingsArray.forEach(rating=>{
            let category = rating.slice(0,5).trim();
            let rateValue = rating.slice(-3);%>
            <dt><%=category%></dt>
            <dd><%=rateValue%></dd>
<%        })%>
        </dl>
      </div>


      <div id="char-luck">
        <h4>Luck</h4>
        <p><%=character.luck%></p>
      </div>


      <div id="char-harm">
        <h4>Harm</h4>
        <p><%=character.harm.number%></p>
      </div>


      <div id="char-experience">
        <h4>Experience</h4>
        <p><%=character.experience%>
      </div>


      <div id="char-look">
        <h4>Look</h4>
        <dl>
<%        let lookKeys = Object.keys(charClass.look);
          for (let i =0; i < lookKeys.length; i++) {
            let key = Object.keys(charClass.look)[i]%>
          <dt><%=key%></dt>
          <dd><%=charClass.look[key]%></dd>
<%        }%>
        </dl>
      </div>


      <div id="char-moves">
        <h4>Moves</h4>
        <dl>
<%        charClass.moves.forEach(move=>{
            if(move|| move===0) {%>
              <dt><%=data[character.class].moves.options[move].name%></dt>
              <dd><%=data[character.class].moves.options[move].description%></dd>
<%          } 
          }) %>
        </dl>
      </div>


      <div id="char-gear">
        <h4>Gear</h4>
<%      let gearArray = Object.keys(charClass.gear)
        gearArray.forEach(itemType=>{
          let options = charClass.gear[itemType]%>
          <h5><%=itemType%></h5>

<%          if(typeof options=== "object") {%>
              <ul>
<%            let keysArray = Object.keys(options)

              keysArray.forEach(key=> {%>
                <li><%=key%></li>
<%            })%>
              </ul>

<%          } else {%>
              <p><%=options%><p>
<%          }%>
<%        })%>

      </div>


      <div id="char-history">
        <h4>History</h4>
        <dl>
<%      charClass.history.forEach((person, index)=>{
          if (person) {%>
            <dt><%=person%></dt>
            <dd><%=data[character.class].history.options[index]%></dd>
<%        }
        })%>
        </dl>
      </div>


      <div id="char-class-spec">

<%-   fileExists( __dirname +"/views/partials/classSpec.ejs") && 
      include ('partials/classSpec.ejs', {data: data, character: character})%>
      </div>


      <div id="char-improvements">
        <h4>Improvements</h4>
        <ul>
<%        let impArray = charClass.improvements.filter(Number)
          impArray.forEach((imp, index)=>{%>
          <li><%=data[character.class].improvements.options[imp]%></li>
<%       })%>
        </ul>
      </div>


      <div id="char-improvements">
        <h4>Advanced Improvements</h4>
        <ul>
<%        let advImpArray = charClass.advancedImprovements.filter(Number)
          advImpArray.forEach((imp, index)=>{%>
          <li><%=data[character.class].improvements.options[imp]%></li>
<%       })%>
        </ul>
      </div>

      <div id="char-update">
        <h4>Update/Delete Character</h4>
        <a href="<%=character.id%>/edit">Update/Delete Character</a>
      </div>
      

    </div>
  </main>

  <script type="text/javascript" src="../char-page.js"></script>
</body>
