<%- include('partials/head')%>

<body>
<div class="container">

<%- include('partials/header', {title: 'User Page'})%>

  <main>
    <div class="row">
      <div class="character-list-container col-5">
        <h4>Characters</h4>
        <ul class="list-group">
<%      user.characters.forEach(character=>{
          let charImg = (character.image)? character.image : '/images/default-char.jpg'%>
          <!--li>
            <div class="char-img-container">
                <image class="char-img" src="<%=charImg%>" alt="<%character.name%>"></image>
            </div>
            <h5><a href="/character/<%=character.id%>" alt="<%=character.name%> page"><%=character.name%></a></h5> 
            <p><%=character.class%></p>
          </li-->
          <li class="list-group-item list-group-item-action">
              <h5><a href="/character/<%=character.id%>"><%=character.name%></a></h5>
              <div class="row"> 
                <div class="char-img-container col-sm-6">
                  <a href="/character/<%=character.id%>"><img class="char-img" src="<%=charImg%>" alt="<%character.name%>"></a>
                </div>
                <div class="col-sm-6">
                  Class: <%=character.class%>
                </div>
              </div>
          </li>

<%      })%>
        </ul>
      </div>

      <div class="col-7">
        <h4>Create New Character</h4>
        <a href="../character-maker" alt="Character Maker">Create New Character</a>

        <h4>Update User Info</h4>
        <a id="edit-user" href="./edit">Update</a>
      </div>
    </div>
    

    

    
  </main>
</div>

  <script type="text/javascript" src="../common.js"></script>
  <script type="text/javascript" src="../user-page.js"></script>
</body>
</html>
