<!DOCTYPE html>
<html lang="en">
<head>
  <title>MoW Hunter Maker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Create a Character for the roleplaying game Monster of the Week">
  <meta name="keywords" content="Monster of the Week, MoW, Monster, RPG, Apocolypse World">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/jquery.serializejson.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css" rel="stylesheet">
  <link rel="stylesheet" href="../main.css" type="text/css">
</head>

<body>
  <header>
    <h1>Hunters of the Week</h1>
  </header>

  <main>
    <h2>User Page</h2>

    <nav>
      <a href="<%=user.id%>"><%=user.userName%></a>
    </nav>
    <h3>Hello, <%=user.name%></h3>

    <div>
      <h4>Characters</h4>
      <a href="../character-maker" alt="Character Maker">Create New Character</a>
      <ul>
<%      user.characters.forEach(character=>{%>
          <li>
            <div class="char-img-container">
                <image class="char-img" src="<%=character.image%>" alt="<%character.name%>"></image>
            </div>
            <h5><a href="/character/<%=character.id%>" alt="<%=character.name%> page"><%=character.name%></a></h5> 
            <p><%=character.class%></p>
          </li>
<%      })%>
      </ul>
    </div>

    <div>
      <h4>Update User Info</h4>
      <a id="edit-user" href="./edit">Update</a>
    </div>

    
  </main>

  <script type="text/javascript" src="../user-page.js"></script>
</body>
