<%- include('partials/head')%>

<body>
<div class="container">

<%- include('partials/header', {title: 'User Page'})%>

  <main id="user-page">
    <div class="row">
      <div class="character-list-container col-5">
        <h4>Characters</h4>
        <div class="list-group">
<%      user.characters.forEach(character=>{
          let charImg = (character.image)? character.image : '/images/default-char.jpg'%>
          <!--li>
            <div class="char-img-container">
                <image class="char-img" src="<%=charImg%>" alt="<%character.name%>"></image>
            </div>
            <h5><a href="/character/<%=character.id%>" alt="<%=character.name%> page"><%=character.name%></a></h5> 
            <p><%=character.class%></p>
          </li-->
          <a href="/character/<%=character.id%>" class="list-group-item list-group-item-action">
              <div class="row"> 
                <div class="col-sm-6">
                  <div class="char-img-container">
                    <!--img class="img-fluid char-img" src="<%=charImg%>" alt="<%character.name%>"-->
                    <img class="img-fluid char-img" src="<%=charImg%>"  alt="<%character.name%>" 
                    onError="this.onerror=null;this.src='/images/default-char.jpg';">
                  </div>
                </div>
                <div class="col-sm-6">
                  <h5><%=character.name%></h5>
                  <ul class="tiny-char-display-list">
                    <li>The <%=character.class%></li>
                  </ul>
                </div>
              </div>
          </a>

<%      })%>
        </div>
      </div>

      <div class="col-7">
        <h4>Create New Character</h4>
        <a href="../character-maker" alt="Character Maker">Create New Character</a>

        <h4>Update User Info</h4>
        <a id="edit-user" href="./edit">Update</a>
      </div>
    </div>
    

    

    
  </main>
  <%- include('partials/footer')%>
</div>

  <script type="text/javascript" src="../common.js"></script>
  <script type="text/javascript" src="../user-page.js"></script>
</body>
</html>
